# DataIncubator Application Challenge - For Spring 2019 Session

### Section 3: Propose a project

Propose a project that uses a large, publicly accessible dataset. Explain your motivation for tackling this problem, discuss the data source(s) you are using, and explain the analysis you are performing. At a minimum, you will need to do enough exploratory data analysis to convince someone that the project is viable and generate two interesting non-trivial plots supporting this.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df_arable_land_2 = pd.read_csv('API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171/Metadata_Country_API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171.csv', engine='python', sep='delimiter', header=None)        
df_arable_land_2.head()

                                                   0
0  Country Code,"Region","IncomeGroup","SpecialNo...
1  "ABW","Latin America & Caribbean","High income...
2  "AFG","South Asia","Low income","Fiscal year e...
3  "AGO","Sub-Saharan Africa","Lower middle incom...
4  "ALB","Europe & Central Asia","Upper middle in...

In [13]:
df_arable_land = pd.read_csv('API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171/API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171.csv',engine='python', sep='delimiter', header=None, skiprows=2)             
df_arable_land.head()

                                                   0
0                  "Last Updated Date","2018-10-18",
1  "Country Name","Country Code","Indicator Name"...
2  "Aruba","ABW","Arable land (% of land area)","...
3  "Afghanistan","AFG","Arable land (% of land ar...
4  "Angola","AGO","Arable land (% of land area)",...

In [5]:
def merge_last(file_name, skip_lines=0):
    with open(file_name, 'r') as fp:
        for i, line in enumerate(fp):
            if i < 2:
                continue
            x, y, *z = line.strip().split(',')
            yield (x,y,','.join(z))

# create a generator to clean the lines, skipping the first 2
file_path = 'API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171/API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171.csv'
gen = merge_last(file_path, 2)
# get the column names
header = next(gen)
# create the data frame
df = pd.DataFrame(gen, columns=header)

df.head()

ValueError: not enough values to unpack (expected at least 2, got 1)

In [ ]:

f = open('../input/key_2.csv').readlines()
with open('../input/key_2_fixed.csv', 'w') as fw:
    fw.write(f[0])
    for line in f[1:]:
        last_comma = line.rfind(',')
        fixed_line = line[:last_comma].replace(',', '') + line[last_comma:]
        fw.write(fixed_line)
fw.close()